<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h6>sobre el proyecto</h6>
                <p class="text-justify"> <i> PULSO CARDIACO</i> es un proyecto dado en la universiad de occidente de Guatemala con fines educativos.</p>
            </div>
        </div>
        <div class="container">
            <hr>
            <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Codigo Abierto <span class="copyleft">&copy;</span> 2019 Desarrollado por
                        <a href="#">N U L O</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>
</body>

</html>