<div class="row">
    <label for="txtTiempo" class="m-4 mr-0">Tiempo</label>
    <input type="text" class="ml-0 m-4" id="txtTiempo" value="15">
    <button class="btn btn-success ml-5 m-4" id="btnNuevo" onclick='enviar("Nuevo");'>Empezar Examen</button>
    <button class="btn btn-danger m-4" disabled id="btnFin" onclick="enviar('A');">Terminar Examen</button>
</div>


<canvas id="myChart"></canvas>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    const socket = io();

    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ["Serial"],
            datasets: [{
                label: "PUlSO CARDIACO",
                backgroundColor: "Green",
                borderColor: "Green",
                data: [],
                fill: false,
            }]
        },
        options: {}
    });

    let counter = 0;
    let da = "";
    socket.on('arduino:data', function(dataSerial) {
        if (dataSerial.value == 'N') {
            console.log("limpiar");
            chart.data.datasets[0].data = [];
            counter = 0;
        } else {
            let l = 0;
            console.log(dataSerial.value);
            for (let i = 0; i < dataSerial.value.length; i++) {
                if (dataSerial.value[i] == 'x')
                    l = 1;
                else
                    da += dataSerial.value[i];
            }
            if (l == 1) {
                chart.data.labels.push(counter);
                chart.data.datasets.forEach(dataset => {
                    dataset.data.push(da);
                });
                counter++;
                chart.update();
                da = "";
            }
        }
    });

    function enviar(msj) {
        if (msj == 'A') {
            document.getElementById('btnNuevo').disabled = false;
            document.getElementById('btnFin').disabled = true;
        } else {
            document.getElementById('btnNuevo').disabled = true;
            document.getElementById('btnFin').disabled = false;
            let ti = document.getElementById('txtTiempo').value * 1000;
            setTimeout('terminarExamen()', ti);
        }

        socket.emit('cli', msj);
    }

    function terminarExamen() {
        socket.emit('cli', 'A');
        document.getElementById('btnNuevo').disabled = false;
        document.getElementById('btnFin').disabled = true;

    }
</script>